<button mat-stroked-button class="close-button" (click)="closeModal();">Close</button>
<div class="dialog-wraper">
    <mat-icon class="prev" (click)="loadPhoto('minus')">navigate_before</mat-icon>
    <img [src]="imageUrl" class="slide"/>
    <mat-icon class="next" (click)="loadPhoto('plus')">navigate_next</mat-icon>
</div>
<!-- <button (click)="loadPhoto('minus')"><mat-icon>navigate_before</mat-icon></button> -->

<!-- <button class="btn" (click)="loadPhoto('plus')"><mat-icon>navigate_before</mat-icon></button> -->